@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Marko Kullam<br />
    
    <abbr title="Phone">Tel:</abbr>
    +372 555 99 454
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:markokullam@gmail.com">markokullam@gmail.com</a><br />
</address>